h4 {
    width: 33%;
    margin: 0 auto;
    margin-top: 7%;
    color : royalblue;
    font : 220% georgia, palatino, serif;
}

div.saisie {
    width: 35%;
    margin: 0 auto;
    margin-top: 3%;
}

div#connexion {
    width: 25%;
    margin: 0 auto;
    margin-top: 10%;
}